_site
.sass-cache
.jekyll-metadata
vendor/
assets/canvas/

!/assets/canvas/css/bootstrap.css
!/assets/canvas/style.css
!/assets/canvas/css/swiper.css
!/assets/canvas/css/dark.css"
!/assets/canvas/css/font-icons.css
!/assets/canvas/css/animate.css
!/assets/canvas/css/magnific-popup.css
!/assets/canvas/css/responsive.css

!/assets/canvas/js/jquery.js
!/assets/canvas/js/plugins.js
!/assets/canvas/js/functions.js
