<div id="header-wrap">

	<div class="container clearfix">

		<div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

		<!-- Primary Navigation
		============================================= -->
		<nav id="primary-menu" class="dark">

			<ul>
                <li class="current"><a href="/"><i class="icon-home"/></i></a></li>
				<li><a href="#"><div>Le Lotissement</div></a>
					<ul>
						<li class="current"><a href="/lelotissement"><div>Concernant le Lotissement</div></a></li>
						<li class="current"><a href="/lotissement/documents"><div>Documents</div></a></li>
					</ul>
				</li>
				<li class="current"><a href="/proprietaires"><div>Les Propriétaires</div></a></li>
				<li><a href="#"><div>Info</div></a>
					<ul>
						<li class="current"><a href="/info/barriere"><div>Barrière</div></a></li>
                        <li class="current"><a href="/info/medicale"><div>Médicale</div></a></li>
                        <li class="current"><a href="/info/marches"><div>Marchés</div></a></li>
                        <li class="current"><a href="/info/dechets"><div>Déchets</div></a></li>
                        <li class="current"><a href="/info/peche"><div>Pêche</div></a></li>
						<li class="current"><a href="/info/coquilles"><div>Coquilles</div></a></li>
					</ul>								
				</li>
			</ul>
		</nav><!-- #primary-menu end -->

	</div>

</div>
